<!--
<h3>$$ \frac{{ '{' }}3x+2{{ '}' }}{{ '{' }}y-7{{ '}' }} $$</h3>
-->

<!-- new post -->
<div *ngIf="authService.loggedIn()">
    make new post
</div>

<!-- post feed -->
<div class="bs-component">
    <div class="list-group">


        <div *ngFor="let post of posts; let i = index" >
            <a href="#" class="list-group-item" (click)="selectPost(i)">
                <span class="badge">{{ post.username }}</span>
                <h3>{{ post.title }}</h3>
                {{ post.timeStamp }}     
            </a>
            <div *ngIf="isSelectedPost(i)">

                <div class="list-group-item">
                    {{ post.body }}
                </div>

                <div class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                likes: {{ post.likes }} 
                            </div>
                            <div class="col-md-6">
                                <span class="pull-right">
                                    <a href="#" class="btn btn-info btn-sm">Like</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-group" *ngFor="let reply of replies">            
                    <div class="list-group-item success">
                        <strong>{{ reply.username }}</strong> replied {{ reply.timeStamp }}     
                    </div>
                    <div class="list-group-item">
                        {{ reply.body }}
                    </div>
                    <div class="list-group-item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    likes: {{ reply.likes }} 
                                </div>
                                <div class="col-md-6">
                                    <span class="pull-right">
                                        <a href="#" class="btn btn-info btn-sm">Like</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </div>
</div>

